header {
  font-size: 1rem;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.flex_container input {
  padding-left: 1rem;
  width: 35%;
  height: 2.5rem;
  font-size: 1rem;
  align-items: baseline;
}

.nav_container {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 20px;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.merchandise_container {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-size: 1.3rem;
}

.merchandise_container p:hover {
  transition: text-decoration 0.3s;
  cursor: pointer;
  color: #cacaca;
  transition-delay: 0.3s;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(51, 106, 134, 255);
}

a:hover,
a:focus {
  text-decoration: none;
  color: #7397a3;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 4em;
  height: 0.5em;
  margin: 5px 0;
  background-color: black;
}

.want {
  background-color: rgba(51, 106, 134, 255);
  padding: 1rem;
  font-weight: bold;
  border-radius: 20px;
}

.want a {
  color: white;
}

.want a:hover {
  color: black;
}

@media (max-width: 1000px) {
  .nav_container {
    background-color: black;
    color: white;
    flex-direction: column;
    width: 100%;
    padding: 3rem 1rem;
    position: absolute;
    top: 139.5px;
    z-index: 1;
    right: 0;
  }

  .hamburger {
    display: flex;
  }
  .close {
    display: none;
  }

  .flex_container input {
    display: none;
  }
}
