.product_page {
  padding: 5rem 5rem;
}

.product_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product_left img {
  width: 50%;
  height: auto;
}

.product_right p {
  font-size: 20px;
}

.product_right h3 {
  font-size: 30px;
}
